.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

.particles-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}